html { 
    margin:0;
    padding:0;
    background: url(img/map.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }

table
{
    border-collapse: collapse; /* les bordures sont collées */
    margin: auto;
    width: 80%;
}

td, th
{
    border: 2px solid black;
    width: 5%;
    height: 10%;
    padding: 10px;
    margin: 10px;
        
}